workflow.json
{
  "name": "Pearl - Candidate Scoring (A320 Recruitment Coordinator)",
  "nodes": [
    {
      "parameters": {},
      "id": "2d900bd4-158e-4275-a5b4-9d0ab37abd24",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        160,
        -160
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Candidates",
          "mode": "name"
        },
        "options": {}
      },
      "id": "725c624b-5d53-49b5-90d2-6ee2fb71c740",
      "name": "Read Candidates Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        352,
        -160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gnWsG4rD0LI3VmDk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-name",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "check-summary",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6ebc2588-f8a4-4f37-b77b-18ebda6d2d70",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        544,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 600,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a senior recruiter at Pearl Talent evaluating candidates for the Recruitment Coordinator (A320) role. Respond ONLY with valid JSON — no markdown, no explanation outside the JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Evaluate this candidate against the Recruitment Coordinator (A320) role at Pearl Talent.\\n\\n## JOB REQUIREMENTS\\nMust-Haves:\\n- 2-4+ years of recruiting coordination or recruiting operations experience\\n- Hands-on Ashby ATS experience (day-one proficiency required)\\n- Strong organizational and multitasking skills across multiple open roles\\n- Excellent written and verbal English communication\\n- Proven ability to work with urgency in fast-paced, high-growth environments\\n- High level of ownership, accountability, and attention to detail\\n\\nNice-to-Haves:\\n- Experience with technical, operational, and leadership role hiring\\n- Startup or high-growth environment exposure\\n- Recruiting workflow automation experience\\n- Remote/distributed team experience\\n- Strong async communication habits\\n\\nKey responsibilities: Interview scheduling, pipeline tracking, ATS management, candidate communication, workflow automation (45% coordination, 25% ops support, 20% automation, 10% communication).\\n\\nLocations accepted: Philippines, LATAM, Anywhere remote.\\n\\n## CANDIDATE\\nName: {{ $json.name }}\\nLocation: {{ $json.location }}\\nYears of experience: {{ $json.years_experience }}\\nCurrent role: {{ $json.current_role }}\\nATS experience: {{ $json.ats_experience }}\\nEnglish level: {{ $json.english_level }}\\nStartup experience: {{ $json.startup_experience }}\\nAutomation experience: {{ $json.automation_experience }}\\nRemote experience: {{ $json.remote_experience }}\\nSummary: {{ $json.summary }}\\n\\n## SCORING INSTRUCTIONS\\nScore each dimension 1-10. Then compute overall_score as weighted average:\\n- ashby_score × 0.30 (critical: must have day-one proficiency)\\n- coordination_score × 0.25\\n- english_score × 0.20\\n- startup_score × 0.15\\n- automation_score × 0.10\\n\\nTier classification (based on overall_score):\\n- Strong Yes: overall_score >= 7.5\\n- Yes: overall_score >= 6.0\\n- Maybe: overall_score >= 4.5\\n- No: overall_score < 4.5\\n\\nRespond with this exact JSON structure:\\n{\\n  \\\"ashby_score\\\": <1-10>,\\n  \\\"coordination_score\\\": <1-10>,\\n  \\\"english_score\\\": <1-10>,\\n  \\\"startup_score\\\": <1-10>,\\n  \\\"automation_score\\\": <1-10>,\\n  \\\"overall_score\\\": <1.0-10.0, one decimal>,\\n  \\\"tier\\\": \\\"Strong Yes|Yes|Maybe|No\\\",\\n  \\\"top_strengths\\\": \\\"<2-3 specific strengths, comma-separated>\\\",\\n  \\\"main_gap\\\": \\\"<single most critical gap or 'None'>\\\",\\n  \\\"recommendation\\\": \\\"<1-2 sentence hiring recommendation>\\\"\\n}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "9703547c-8f6a-4754-9ea3-941d49e252e6",
      "name": "Score with Groq LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -160
      ],
      "credentials": {
        "groqApi": {
          "id": "N5JpUubbLVmayav2",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const groqResponse = $input.item.json;\n  const candidate = $('Validate Required Fields').item.json;\n\n  let scoring;\n  try {\n    const rawContent = groqResponse.choices[0].message.content;\n    scoring = JSON.parse(rawContent);\n  } catch (e) {\n    return {\n      json: {\n        name: candidate.name ?? '(unknown)',\n        email: candidate.email ?? '',\n        location: candidate.location ?? '',\n        years_experience: candidate.years_experience ?? '',\n        current_role: candidate.current_role ?? '',\n        ats_experience: candidate.ats_experience ?? '',\n        ashby_score: 'ERROR', coordination_score: 'ERROR',\n        english_score: 'ERROR', startup_score: 'ERROR',\n        automation_score: 'ERROR', overall_score: 'ERROR',\n        tier: 'ERROR',\n        top_strengths: '',\n        main_gap: 'LLM parsing failed',\n        recommendation: `Parse error: ${e.message}`,\n        scored_at: new Date().toISOString(),\n      }\n    };\n  }\n\n  const required = ['ashby_score','coordination_score','english_score','startup_score','automation_score'];\n  const missing = required.filter(k => scoring[k] == null);\n  if (missing.length > 0) {\n    return {\n      json: {\n        name: candidate.name ?? '(unknown)',\n        email: candidate.email ?? '',\n        location: candidate.location ?? '',\n        years_experience: candidate.years_experience ?? '',\n        current_role: candidate.current_role ?? '',\n        ats_experience: candidate.ats_experience ?? '',\n        ashby_score: 'ERROR', coordination_score: 'ERROR',\n        english_score: 'ERROR', startup_score: 'ERROR',\n        automation_score: 'ERROR', overall_score: 'ERROR',\n        tier: 'ERROR',\n        top_strengths: '',\n        main_gap: `Missing fields: ${missing.join(', ')}`,\n        recommendation: 'Manual review required.',\n        scored_at: new Date().toISOString(),\n      }\n    };\n  }\n\n  const recomputed = Math.round((\n    Number(scoring.ashby_score)        * 0.30 +\n    Number(scoring.coordination_score) * 0.25 +\n    Number(scoring.english_score)      * 0.20 +\n    Number(scoring.startup_score)      * 0.15 +\n    Number(scoring.automation_score)   * 0.10\n  ) * 10) / 10;\n\n  const tier = recomputed >= 7.5 ? 'Strong Yes'\n             : recomputed >= 6.0 ? 'Yes'\n             : recomputed >= 4.5 ? 'Maybe'\n             : 'No';\n\n  return {\n    json: {\n      name: candidate.name,\n      email: candidate.email,\n      location: candidate.location,\n      years_experience: candidate.years_experience,\n      current_role: candidate.current_role,\n      ats_experience: candidate.ats_experience,\n      ashby_score: scoring.ashby_score,\n      coordination_score: scoring.coordination_score,\n      english_score: scoring.english_score,\n      startup_score: scoring.startup_score,\n      automation_score: scoring.automation_score,\n      overall_score: recomputed,\n      tier,\n      top_strengths: scoring.top_strengths ?? '',\n      main_gap: scoring.main_gap ?? '',\n      recommendation: scoring.recommendation ?? '',\n      scored_at: new Date().toISOString(),\n    }\n  };"
      },
      "id": "4bd31cfc-a036-4102-bcb6-6c546a8b1574",
      "name": "Parse & Validate Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Results",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "years_experience",
              "displayName": "years_experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_role",
              "displayName": "current_role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ats_experience",
              "displayName": "ats_experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ashby_score",
              "displayName": "ashby_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "coordination_score",
              "displayName": "coordination_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "english_score",
              "displayName": "english_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "startup_score",
              "displayName": "startup_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "automation_score",
              "displayName": "automation_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "overall_score",
              "displayName": "overall_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tier",
              "displayName": "tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "top_strengths",
              "displayName": "top_strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "main_gap",
              "displayName": "main_gap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommendation",
              "displayName": "recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scored_at",
              "displayName": "scored_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "98c04ef3-e8bf-4cf2-87d6-2c087630d88d",
      "name": "Write to Results Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1328,
        -160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gnWsG4rD0LI3VmDk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        752,
        -160
      ],
      "id": "f44d171e-e789-41b4-a616-33590bd6093c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1504,
        -160
      ],
      "id": "265162af-3a46-4e17-b2a0-15c36a876a99",
      "name": "Wait",
      "webhookId": "ba026085-4728-456d-9f58-4559eb40b3d2"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Candidates Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Candidates Sheet": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score with Groq LLM": {
      "main": [
        [
          {
            "node": "Parse & Validate Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Score": {
      "main": [
        [
          {
            "node": "Write to Results Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Score with Groq LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Results Sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9a057b64-dcee-489f-b153-083bc540ecaa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70f196ee2493ebf7f389c90737737ee931d9e98fc7f2fe336778ad3f56dd0603"
  },
  "id": "ty7THt8Ne6AgEvBM",
  "tags": []
}