workflow.json
{
  "name": "Pearl - Candidate Scoring (A320 Recruitment Coordinator)",
  "nodes": [
    {
      "parameters": {},
      "id": "2d900bd4-158e-4275-a5b4-9d0ab37abd24",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, -160]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Candidates",
          "mode": "name"
        },
        "options": {}
      },
      "id": "725c624b-5d53-49b5-90d2-6ee2fb71c740",
      "name": "Read Candidates Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [352, -160],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gnWsG4rD0LI3VmDk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-name",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "check-summary",
              "leftValue": "={{ $json.resume_summary }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6ebc2588-f8a4-4f37-b77b-18ebda6d2d70",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [544, -160]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [752, -160],
      "id": "f44d171e-e789-41b4-a616-33590bd6093c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 400,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a senior recruiter at Pearl Talent. Score candidates against the provided job description. Respond ONLY with valid JSON — no markdown, no text outside the JSON object.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Score this candidate against the Recruitment Coordinator (A320) role at Pearl Talent.\\n\\n## JOB REQUIREMENTS\\nMust-Haves:\\n- 2-4+ years recruiting coordination or operations experience\\n- Hands-on Ashby ATS proficiency (day-one requirement)\\n- Strong organizational skills across multiple simultaneous open roles\\n- Excellent written and verbal English\\n- Proven urgency in fast-paced, high-growth environments\\n- High ownership and attention to detail\\n\\nNice-to-Haves: startup/high-growth exposure, workflow automation experience, remote/distributed team experience, async communication habits.\\n\\nKey responsibilities: interview scheduling (45%), recruiting ops support (25%), process automation (20%), candidate communication (10%).\\n\\n## CANDIDATE\\nName: {{ $json.name }}\\nLocation: {{ $json.location }}\\nYears of experience: {{ $json.years_experience }}\\nPsychometric score: {{ $json.psychometric_score }}/100\\nEnglish proficiency score: {{ $json.english_proficiency_score }}/100\\nResume summary: {{ $json.resume_summary }}\\n\\n## SCORING INSTRUCTIONS\\nScore each dimension 0-100, then compute overall_score as weighted average:\\n- technical_skills x 0.35: ATS proficiency (Ashby is critical), tools used, automation capability\\n- experience_relevance x 0.40: recruiting coordination depth, startup/high-growth fit, role history alignment\\n- communication_indicators x 0.25: weight the provided english_proficiency_score at 60% and your read of the resume communication quality at 40%\\n\\nFlag rules (apply to overall_score):\\n- Qualified: >= 70\\n- Needs Review: >= 45\\n- Unqualified: < 45\\n\\nReturn exactly this JSON — nothing else:\\n{\\n  \\\"technical_skills\\\": <0-100>,\\n  \\\"experience_relevance\\\": <0-100>,\\n  \\\"communication_indicators\\\": <0-100>,\\n  \\\"overall_score\\\": <0-100, one decimal>,\\n  \\\"match_explanation\\\": \\\"<one sentence explaining the overall fit>\\\",\\n  \\\"flag\\\": \\\"Qualified|Needs Review|Unqualified\\\"\\n}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "9703547c-8f6a-4754-9ea3-941d49e252e6",
      "name": "Score with Groq LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, -160],
      "credentials": {
        "groqApi": {
          "id": "N5JpUubbLVmayav2",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const groqResponse = $input.item.json;\nconst candidate = $('Validate Required Fields').item.json;\n\nlet scoring;\ntry {\n  const rawContent = groqResponse.choices[0].message.content;\n  scoring = JSON.parse(rawContent);\n} catch (e) {\n  return {\n    json: {\n      name: candidate.name ?? '(unknown)',\n      email: candidate.email ?? '',\n      location: candidate.location ?? '',\n      years_experience: candidate.years_experience ?? '',\n      overall_score: 'ERROR',\n      technical_skills: 'ERROR',\n      experience_relevance: 'ERROR',\n      communication_indicators: 'ERROR',\n      match_explanation: `Parse error: ${e.message}`,\n      flag: 'ERROR',\n      scored_at: new Date().toISOString(),\n    }\n  };\n}\n\nconst required = ['technical_skills', 'experience_relevance', 'communication_indicators'];\nconst missing = required.filter(k => scoring[k] == null);\nif (missing.length > 0) {\n  return {\n    json: {\n      name: candidate.name ?? '(unknown)',\n      email: candidate.email ?? '',\n      location: candidate.location ?? '',\n      years_experience: candidate.years_experience ?? '',\n      overall_score: 'ERROR',\n      technical_skills: 'ERROR',\n      experience_relevance: 'ERROR',\n      communication_indicators: 'ERROR',\n      match_explanation: `Incomplete LLM response — missing: ${missing.join(', ')}`,\n      flag: 'ERROR',\n      scored_at: new Date().toISOString(),\n    }\n  };\n}\n\nconst overall = Math.round((\n  Number(scoring.technical_skills)         * 0.35 +\n  Number(scoring.experience_relevance)      * 0.40 +\n  Number(scoring.communication_indicators)  * 0.25\n) * 10) / 10;\n\nconst flag = overall >= 70 ? 'Qualified'\n           : overall >= 45 ? 'Needs Review'\n           : 'Unqualified';\n\nreturn {\n  json: {\n    name: candidate.name,\n    email: candidate.email,\n    location: candidate.location,\n    years_experience: candidate.years_experience,\n    overall_score: overall,\n    technical_skills: scoring.technical_skills,\n    experience_relevance: scoring.experience_relevance,\n    communication_indicators: scoring.communication_indicators,\n    match_explanation: scoring.match_explanation ?? '',\n    flag,\n    scored_at: new Date().toISOString(),\n  }\n};"
      },
      "id": "4bd31cfc-a036-4102-bcb6-6c546a8b1574",
      "name": "Parse & Validate Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1152, -160]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Results",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            { "id": "name", "displayName": "name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "email", "displayName": "email", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "location", "displayName": "location", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "years_experience", "displayName": "years_experience", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "overall_score", "displayName": "overall_score", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "technical_skills", "displayName": "technical_skills", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "experience_relevance", "displayName": "experience_relevance", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "communication_indicators", "displayName": "communication_indicators", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "match_explanation", "displayName": "match_explanation", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "flag", "displayName": "flag", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "scored_at", "displayName": "scored_at", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "98c04ef3-e8bf-4cf2-87d6-2c087630d88d",
      "name": "Write to Results Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1328, -160],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gnWsG4rD0LI3VmDk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1504, -160],
      "id": "265162af-3a46-4e17-b2a0-15c36a876a99",
      "name": "Wait",
      "webhookId": "ba026085-4728-456d-9f58-4559eb40b3d2"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Read Candidates Sheet", "type": "main", "index": 0 }]]
    },
    "Read Candidates Sheet": {
      "main": [[{ "node": "Validate Required Fields", "type": "main", "index": 0 }]]
    },
    "Validate Required Fields": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "Loop Over Items": {
      "main": [
        [],
        [{ "node": "Score with Groq LLM", "type": "main", "index": 0 }]
      ]
    },
    "Score with Groq LLM": {
      "main": [[{ "node": "Parse & Validate Score", "type": "main", "index": 0 }]]
    },
    "Parse & Validate Score": {
      "main": [[{ "node": "Write to Results Sheet", "type": "main", "index": 0 }]]
    },
    "Write to Results Sheet": {
      "main": [[{ "node": "Wait", "type": "main", "index": 0 }]]
    },
    "Wait": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9a057b64-dcee-489f-b153-083bc540ecaa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70f196ee2493ebf7f389c90737737ee931d9e98fc7f2fe336778ad3f56dd0603"
  },
  "id": "ty7THt8Ne6AgEvBM",
  "tags": []
}
